<p id="notice"><%= notice %></p>

<h1>Listing Businesses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.locations.each do |location| %>
      <tr>
        <td><%= location.id %></td>
        <td><%= link_to 'Show', location.profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(location.profile) %></td>
        <td><%= link_to 'Destroy', current_user.business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business', new_business_path %>
